  header {
        background-color: #221C35;
        color: #FFFFFF;
        padding: 10px;
        text-align: center;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        border-bottom: 1px solid #000000;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 50px;
      }

      header img {
        width: auto;
        height: auto;
        max-height: 50px;
        margin-right: 10px;
      }

      header .button {
        background-color: #221C35;
        color: #FFFFFF;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 65px;
      }
      
      img {
        display: block;
        margin: 0 auto;
      }

      .feature-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
      
      .inicio {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding: 2rem;
        margin: 0 auto;
        max-width: 1200px;
        margin-top: 70px;
      }
      
      .inicio h1 {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 2rem;
      }
      
      .inicio p {
        flex: 1;
        margin-right: 2rem;
      }
      
      .inicio img {
        max-width: 100%;
        max-height: 400px;
        margin-bottom: 2rem;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }

      .feature-item video {
        width: 100%;
        max-width: 800px;
        border-radius: 5px;
        margin-bottom: 1rem;
      }
      
      .feature-item video {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      
      .feature-item img {
        width: 100%;
        max-width: 800px;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      
      .feature-title {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      
      .feature-description {
        font-size: 16px;
        color: #666;
      }

      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
      
      p {
        font-size: 24px;
        color: #666666;
        margin-top: 0;
        margin-bottom: 50px;
        line-height: 1.5;
        text-align: center;
      }
      .button {
        display: inline-block;
        background-color: #225d9c;
        color: white;
        padding: 12px 24px;
        border-radius: 4px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .button:hover {
        background-color: #12395f;
      }
      .login-button {
        background-color: #00a6a6;
        margin-right: 0;
      }
      .login-button:hover {
        background-color: #008f8f;
      }
      body {
        background-color: #ffffff;
      }
      h1 {
        margin-top: 80px;
      }
      h2 {
        font-size: 36px;
        font-weight: 500;
        color: #333333;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
      }
      h3 {
        font-size: 1.5em;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-bottom: 1em;
      }
      .card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 40px;
      }
      .card img {
        border-radius: 10px;
        margin-bottom: 20px;
        max-width: 100%;
      }
      .card h3 {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        margin-top: 0;
        margin-bottom: 10px;
      }
      .card p {
        font-size: 18px;
        color: #666666;
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 1.5;
      }
      .card-button {
        background-color: #00a6a6;
        color: white;
        padding: 12px 24px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        margin-top: 20px;
        display: inline-block;
      }
      .card-button:hover {
        background-color: #008f8f;
      }
      .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .centrar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f7f7f7;
        }
        
        .enmarcar {
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        }

        @media (min-width: 768px) {
          #scrolltable {
          height: 400px;
          }
          }
          
          @media (max-width: 767px) {
          #scrolltable {
          height: auto;
          }
          }
          
          #scrolltable {
          overflow: scroll;
          max-height: 200px;
          width: 100%;
          }
          
          .form-group {
            margin-bottom: 15px;
          }
          
          .form-group label {
            display: block;
            margin-bottom: 5px;
          }
          
          .form-group input,
          .form-group select {
            width: 100%;
            padding: 5px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
          
          .form-group input[type="submit"] {
            width: auto;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
          .form-group.required label::after {
            content: "*";
            color: red;
            margin-left: 5px;
          }
          
          .form-group.required input:invalid,
          .form-group.required select:invalid {
            border-color: red;
          }
          
          .form-group.required input:invalid:focus,
          .form-group.required select:invalid:focus {
            box-shadow: 0 0 5px red;
          }
          
          .login-box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            padding: 40px;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, .5);
            font-family: 'Lato', sans-serif;
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
            border-radius: 10px;
        }

        .login-box h2 {
            margin: 0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
        }

        .login-box .user-box {
            position: relative;
        }

        .login-box .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }

        .login-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        .login-box .user-box input:focus~label,
        .login-box .user-box input:valid~label {
            top: -20px;
            left: 0;
            color: #ffffff;
            font-size: 12px;
        }

        .solicitud-box {
          position: absolute;
          top: 80%;
          left: 50%;
          width: 50vw;
          max-width: 800px;
          padding: 40px;
          transform: translate(-50%, -50%);
          background: rgba(12, 60, 107, 0.548);
          font-family: 'Lato', sans-serif;
          box-sizing: border-box;
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.322);
          border-radius: 10px;
        }

        @media screen and (max-width: 768px) {
        .solicitud-box {
          width: 90vw;
          padding: 20px;
        }
        }

        .solicitud-box h2 {
          margin: 0 0 30px;
          padding: 0;
          color: #fff;
          text-align: center;
        }

        .solicitud-box .user-box {
          position: relative;
        }

        .solicitud-box .user-box input {
          width: 100%;
          padding: 10px 0;
          font-size: 16px;
          color: #fff;
          margin-bottom: 30px;
          border: none;
          border-bottom: 1px solid #fff;
          outline: none;
          background: transparent;
        }

        .solicitud-box .user-box label {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px 0;
          font-size: 16px;
          color: #fff;
          pointer-events: none;
          transition: .5s;
        }

        .solicitud-box .user-box input:focus~label,
        .solicitud-box .user-box input:valid~label {
          top: -20px;
          left: 0;
          color: #ffffff;
          font-size: 12px;
        }

        button {
        margin: 20px;
        }
        .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
        }

        .btn-1 {
          border: none;
          transition: all 0.3s ease;
          overflow: hidden;
        }
        .btn-1:after {
          position: absolute;
          content: " ";
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 172, 193, 1);
          background-image: linear-gradient(315deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
          transition: all 0.3s ease;
        }
        .btn-1:hover {
          background: transparent;
          box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                      -4px -4px 6px 0 rgba(116, 125, 136, .2), 
            inset -4px -4px 6px 0 rgba(255,255,255,.5),
            inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
          color: #fff;
        }
        .btn-1:hover:after {
          -webkit-transform: scale(2) rotate(180deg);
          transform: scale(2) rotate(180deg);
          box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                      -4px -4px 6px 0 rgba(116, 125, 136, .2), 
            inset -4px -4px 6px 0 rgba(255,255,255,.5),
            inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        }
        @import url(//fonts.googleapis.com/css?family=Lato:300:400);

        h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            letter-spacing: 2px;
            font-size: 48px;
        }

        p {
            font-family: 'Lato', sans-serif;
            letter-spacing: 1px;
            font-size: 14px;
            color: #333333;
        }

        .header {
            position: relative;
            text-align: center;
            background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
            color: white;
        }

        .logo {
            width: 50px;
            fill: white;
            padding-right: 15px;
            display: inline-block;
            vertical-align: middle;
        }

        .inner-header {
            height: 20vh;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .waves {
            position: relative;
            width: 100%;
            height: 15vh;
            margin-bottom: -7px;
            min-height: 100px;
            max-height: 150px;
        }

        .content {
            position: relative;
            height: 20vh;
            text-align: center;
            background-color: white;
        }

        .parallax > use {
            animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
        }

        .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }

        .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }

        .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }

        .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }

        @keyframes move-forever {
            0% {
                transform: translate3d(-90px, 0, 0);
            }
            100% {
                transform: translate3d(85px, 0, 0);
            }
        }

        .comentarios-lista {
            list-style: none;
            padding: 0;
        }
    
        .comentario-item {
            background-color: #f5f5f5;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            position: relative;
        }
    
        .comentario-content {
            display: inline-block;
            width: 90%;
            overflow-wrap: break-word;
        }
    
        .eliminar-comentario {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    
        .comentarios-section {
            height: 200px;
            overflow-y: auto;
        }

        .select {
          width: 100%;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          vertical-align: middle;
          background: transparent url('https://www.freeiconspng.com/uploads/arrow-up-icon-23.png') no-repeat;
          background-size: 15px;
          background-position:  right 10px center;
          background-color: transparent;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.5rem; 
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          position: relative; 
          overflow: hidden;
      }

     /* Mobile */
@media screen and (max-width: 576px) {
  header {
    padding: 5px;
    font-size: 16px;
    padding-left: 20px;
    justify-content: center;
  }
  header img {
    margin-right: 0;
  }
  header .button {
    margin-right: 0;
  }
  .container {
    padding: 10px;
  }
  .card {
    padding: 10px;
    margin-bottom: 20px;
  }

  h1 {
    margin-top: 80px;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
  }
  
  .inicio h1 {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
  }

  .inicio p {
    display: none;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }

}

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    font-size: 20px;
    padding-left: 30px;
  }
}

/* Laptop */
@media screen and (min-width: 992px) {
  header {
    padding: 10px;
    font-size: 24px;
  }
  .container {
    padding: 30px;
  }
  .card {
    padding: 30px;
    margin-bottom: 30px;
  }
  h1 {
    margin-top: 1px;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
  .card-container {
    max-width: 1400px;
  }
}


