<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adminstrar Solicitudes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/static/images/logo.png" alt="Logo de UCOVAEX">
        </a>
            <h1 style="margin: 0;">UCOVAEX</h1>
            <div style="flex-grow: 1;"></div>
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit" class="button" style="font-size: 14px;">Cerrar sesión</button>
            </form>
        </header>
    <div class="container">
        <a href="{{ url_for('agregar_asignatura') }}" class="button" style="font-size: 14px; position: fixed; top: 100px; right: 10px; padding: 10px; border-radius: 5px;">Agregar Asignaturas</a>
        <div class="row">
            <div class="col-md-12">
                <h1>Valoración de Solicitudes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Asignatura UCO</th>
                            <th>Asignatura Extranjero</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Comentarios</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitud in solicitudes %}
                            <tr>
                                <td>{{ solicitud['apellidos_y_nombre_alumno'] }}</td>
                                <td>{{ get_nombre_asignatura_uco(solicitud['codigo_asignatura_uco']) }}</td>
                                <td>{{ get_nombre_asignatura_exterior(solicitud['codigo_asignatura_extranjero']) }}</td>
                                <td>{{ solicitud['fecha_solicitud'] }}</td>
                                <td>{{ solicitud['estado'] }}</td>
                                <td>{{ solicitud['comentarios'] }}</td>
                                <td>
                                    <form action="" method="post">
                                        <input type="hidden" name="_id" value="{{ solicitud['_id'] }}">
                                        <input type="hidden" name="estado" value="aceptada">
                                        <input type="submit" value="Aceptar" class="btn btn-primary">
                                    </form>s
                                    <form action="" method="post">
                                        <input type="hidden" name="_id" value="{{ solicitud['_id'] }}">
                                        <input type="hidden" name="estado" value="denegada">
                                        <input type="submit" value="Denegar" class="btn btn-danger">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
