<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Agregar de Asignatura</title>
     <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<header>
        <img src="/static/images/logo.png" alt="Logo de UCOVAEX">
            <h1 style="margin: 0;">UCOVAEX</h1>
            <div style="flex-grow: 1;"></div>
            <a href="#" onclick="logout()" class="button" style="font-size: 14px;">Cerrar sesión</a>
        </header>
		  <div class="centrar">
            <div class="enmarcar">
				<h2>Añadir asignaturas</h2>
				<form action="{{ url_for('agregar_asignatura') }}" method="post">
					<label for="tabla">Tabla:</label>
					<select id="tabla" name="tabla" required>
						<option value="asignaturas_uco">Asignaturas UCO</option>
						<option value="asignaturas_exterior">Asignaturas Exterior</option>
					</select><br><br>
					<label for="codigo">Código de la asignatura:</label>
					<input type="text" id="codigo" name="codigo" required><br><br>
					<label for="nombre">Nombre de la asignatura:</label>
					<input type="text" id="nombre" name="nombre" required><br><br>
					{% if tabla == 'asignaturas_exterior' %}
						<label for="url">URL:</label>
						<input type="text" id="url" name="url" required><br><br>
					{% endif %}
					<label for="ects">ECTS:</label>
					<input type="text" id="ects" name="ects" required><br><br>
					<input type="submit" value="Añadir">
				</form>
			</div>
		  </div>
		</body>
	  </html>

  