<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Añadir Comentarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
  <body>
    <header>
      <img src="/static/images/logo.png" alt="Logo de UCOVAEX">
          <h1 style="margin: 0;">UCOVAEX</h1>
          <div style="flex-grow: 1;"></div>
          <a href="#" onclick="logout()" class="button" style="font-size: 14px;">Cerrar sesión</a>
    </header>
    <h1>Agregar datos a la tabla de Asignaturas UCO</h1>
    <form action="/agregar_asignatura_uco" method="POST">
      <label for="codigo">Código de la asignatura:</label>
      <input type="text" name="codigo" id="codigo"><br>

      <label for="nombre">Nombre de la asignatura:</label>
      <input type="text" name="nombre" id="nombre"><br>

      <label for="ects">ECTS:</label>
      <input type="text" name="ects" id="ects"><br>

      <input type="submit" value="Agregar">
  </body>
</html>
