<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar Asignatura</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<header>
        <img src="/static/images/logo.png" alt="Logo de UCOVAEX">
            <h1 style="margin: 0;">UCOVAEX</h1>
            <div style="flex-grow: 1;"></div>
            <a href="#" onclick="logout()" class="button" style="font-size: 14px;">Cerrar sesión</a>
        </header>
		<div class="centrar">
		<div class="enmarcar">
			<h2>Añadir asignatura de la UCO</h2>
			<form action="{{ url_for('agregar_asignatura') }}" method="post">
				<label for="codigo_asignatura_uco">Código de la asignatura:</label>
				<input type="text" id="codigo_asignatura_uco" name="codigo_asignatura_uco" required><br><br>
				<label for="nombre_uco">Nombre de la asignatura:</label>
				<input type="text" id="nombre_uco" name="nombre_uco" required><br><br>
				<label for="ects_uco">ECTS:</label>
				<input type="text" id="ects_uco" name="ects_uco" required><br><br>
				<input type="submit" value="Añadir">
			</form>

			<h2>Añadir asignatura del exterior</h2>
			<form action="{{ url_for('agregar_asignatura') }}" method="post">
				<label for="codigo_asignatura_extranjero">Código de la asignatura:</label>
				<input type="text" id="codigo_asignatura_extranjero" name="codigo_asignatura_extranjero" required><br><br>
				<label for="nombre_extranjero">Nombre de la asignatura:</label>
				<input type="text" id="nombre_extranjero" name="nombre_extranjero" required><br><br>
				<label for="url">URL:</label>
				<input type="text" id="url" name="url" required><br><br>
				<label for="ects_extranjero">ECTS:</label>
				<input type="text" id="ects_extranjero" name="ects_extranjero" required><br><br>
				<input type="submit" value="Añadir">
			</form>
		</div>
		</div>
	</body>
</html>

  