<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ alumno }} - {{ destino }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/static/images/logo.png" alt="Logo de UCOVAEX">
        </a>
        <h1 style="margin: 0;">UCOVAEX</h1>
        <div style="flex-grow: 1;"></div>
        <a href="{{ url_for('agregar_asignatura') }}" class="button" style="font-size: 14px;">Agregar Asignaturas</a>
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit" class="button" style="font-size: 14px;">Cerrar sesión</button>
        </form>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Valoración de Solicitudes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Solicitudes del alumno: {{ alumno }} - {{ destino }}</h2>
            </div>
        </div>
        {% for asignatura_uco, solicitudes_destino in grupos_solicitudes.items() %}
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ asignatura_uco }}</h3>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Asignatura UCO</th>
                        <th>Código</th>
                        <th>ECTS</th>
                        <th>Asignaturas del Destino</th>
                        <th>Código</th>
                        <th>ECTS</th>
                        <th>URL</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitud in solicitudes_destino %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td rowspan="{{ solicitudes_destino|length }}" class="align-middle">{{ asignatura_uco }}</td>
                                <td rowspan="{{ solicitudes_destino|length }}" class="align-middle">{{ solicitud['codigo_uco'] }}</td>
                                <td rowspan="{{ solicitudes_destino|length }}" class="align-middle">{{ solicitud['ects_uco'] }}</td>
                            {% endif %}
                            <td class="align-middle">{{ solicitud['nombre_destino'] }}</td>
                            <td class="align-middle">{{ solicitud['codigo_destino'] }}</td>
                            <td class="align-middle">{{ solicitud['ects_destino'] }}</td>
                            <td class="align-middle">{{ solicitud['url'] }}</td>
                            <td class="align-middle">{{ solicitud['estado'] }}</td>
                            {% if loop.index == 1 %}
                                <td rowspan="{{ solicitudes_destino|length }}" class="align-middle">
                                    <button type="button" class="btn btn-success" onclick="aprobarSolicitud('{{ solicitud['codigo_uco'] }}')">Aprobar</button>
                                    <button type="button" class="btn btn-danger" onclick="denegarSolicitud('{{ solicitud['codigo_uco'] }}')">Denegar</button>
                                    <button type="button" class="btn btn-primary" onclick="enviarComision('{{ solicitud['codigo_uco'] }}')">Enviar</button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</body>
</html>

<script>
    function aprobarSolicitud(codigo_uco) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/aprobar';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'codigo_uco';
        input.value = codigo_uco;

        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }

    function denegarSolicitud(codigo_uco) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/denegar';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'codigo_uco';
        input.value = codigo_uco;

        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }

    function enviarComision(codigo_uco) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/enviar';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'codigo_uco';
        input.value = codigo_uco;

        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }
</script>
