<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrar Solicitudes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

    <style>
        .inner-header {
                height: -1;
                width: 100%;
                margin: -3%;
                padding: 5%;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center
        }
        .button {
            background-color: rgba(0, 172, 193, 1);
            border: none;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
            display: inline-block;
            text-decoration: none;
            font-size: 16px;
            margin: 0 10px 0 0;
            border-radius: 20px; 
            transition: background-color 0.3s, color 0.3s;
        }

        .button:hover {
            background-color: rgba(84, 58, 183, 1);
            color: #fff;
            text-decoration: none;
            border: none;
        }

        .inner-header {
            display: flex; 
            justify-content: space-between; 
            align-items: center; 
        }

        .inner-header h1 {
            margin: 0;
        }
        
    </style>
</head>

<body>
    <div class="header">
            <div class="inner-header">
                <h1>UCOVAEX</h1>
                <form action="{{ url_for('logout') }}" method="post">
                    {% if usuario_tipo == 'alumno' %}
                        <a href="/solicitud" class="button" style="font-size: 14px;">Volver</a>
                    {% else %}
                        <a href="/administracion" class="button" style="font-size: 14px;">Volver</a>
                    {% endif %}
                    <button type="submit" class="button" style="font-size: 14px;">Cerrar sesión</button>
                </form>
            </div>
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Valoración de Solicitudes</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Solicitudes del alumno: {{ alumno }} - {{ destino }}</h2>
                </div>
            </div>
            
            {% set solicitud_pasada = namespace(prev=vector_id_solicitud[0]) %}

            {% for asignatura_uco, solicitudes_destino in grupos_solicitudes.items() %}
                {% set solicitud_actual = vector_id_solicitud[loop.index-1] %}
                {% if solicitud_actual != solicitud_pasada.prev or loop.index == 1%}
                    <h2>Solicitud {{ solicitud['fecha'] }}</h2>
                {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Asignatura UCO</th>
                            <th>Código</th>
                            <th>ECTS</th>
                            <th>Asignaturas del Destino</th>
                            <th>Código</th>
                            <th>ECTS</th>
                            <th>URL</th>
                            <th>Estado</th>
                            {% if usuario_tipo != 'comision' %}
                                <th>Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitud in solicitudes_destino %}
                            <tr>
                                {% if loop.index == 1 %}
                                    <td rowspan="{{ solicitudes_destino|length }}" class="align-middle">{{ solicitud['nombre_uco'] }}</td>
                                    <td rowspan="{{ solicitudes_destino|length }}" class="align-middle">{{ solicitud['codigo_uco'] }}</td>
                                    <td rowspan="{{ solicitudes_destino|length }}" class="align-middle">{{ solicitud['ects_uco'] }}</td>
                                {% endif %}
                                <td class="align-middle">{{ solicitud['nombre_destino'] }}</td>
                                <td class="align-middle">{{ solicitud['codigo_destino'] }}</td>
                                <td class="align-middle">{{ solicitud['ects_destino'] }}</td>
                                <td class="align-middle">{{ solicitud['url'] }}</td>
                                <td class="align-middle">{{ solicitud['estado'] }}</td>
                                {% if loop.index == 1 and usuario_tipo != 'comision' and usuario_tipo != 'asistente' %}
                                    <td rowspan="{{ solicitudes_destino|length }}" class="align-middle">
                                        <button type="button" class="btn btn-success" onclick="aprobarSolicitud('{{ solicitud['codigo_uco'] }}')">Aprobar</button>
                                        <button type="button" class="btn btn-danger" onclick="denegarSolicitud('{{ solicitud['codigo_uco'] }}')">Denegar</button>
                                        <button type="button" class="btn btn-primary" onclick="enviarComision('{{ solicitud['codigo_uco'] }}')">Enviar</button>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if usuario_tipo == 'comision' %}
                    <div class="row">
                        <div class="col-md-12">
                            <textarea style="margin : 1vh" class="form-control" rows="auto" placeholder="Comentario" oninput="this.style.height = '';this.style.height = this.scrollHeight + 'px'" id="comentario-{{ alumno }}-{{ asignatura_uco }}"></textarea>
                            <center><button style="margin: 1vh; margin-bottom: 5vh;" type="button" class="button" onclick="guardarComentario('{{ alumno }}', '{{ asignatura_uco }}')">Guardar Comentario</button></center>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            <button type="button" class="button" onclick="toggleComentarios('{{ alumno }}', '{{ asignatura_uco }}')">
                                <span id="comentarios-toggle-{{ alumno }}-{{ asignatura_uco }}">Comentarios ▼</span>
                            </button>
                        </h4>
                        <ul id="comentarios-{{ alumno }}-{{ asignatura_uco }}" class="comentarios-lista" style="display: none;">
                            {% for comentario in comentarios %}
                                {% if comentario[0] == alumno and comentario[1] == asignatura_uco %}
                                    <li class="comentario-item">
                                        {{ comentario[2] }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <hr size="1px" color="#00acc1" />
                    </div>
                </div>
                {% set solicitud_pasada.prev = vector_id_solicitud[loop.index-1] %}
            {% endfor %}
        </div>
</body>
</html>

<script>
    function aprobarSolicitud(codigo_uco) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/aprobar';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'codigo_uco';
        input.value = codigo_uco;

        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }

    function denegarSolicitud(codigo_uco) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/denegar';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'codigo_uco';
        input.value = codigo_uco;

        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }

    function enviarComision(codigo_uco) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/enviar';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'codigo_uco';
        input.value = codigo_uco;

        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }

    function guardarComentario(alumno, asignatura) {
        var comentario = document.getElementById("comentario-" + alumno + "-" + asignatura).value;

        var comentarioItem = document.createElement("li");
        comentarioItem.classList.add("comentario-item");

        var comentarioContent = document.createElement("div");
        comentarioContent.classList.add("comentario-content");
        comentarioContent.textContent = comentario;


        comentarioItem.appendChild(comentarioContent);

        var comentariosList = document.getElementById("comentarios-" + alumno + "-" + asignatura);

        comentariosList.insertBefore(comentarioItem, comentariosList.firstChild);

        document.getElementById("comentario-" + alumno + "-" + asignatura).value = "";

        mostrarComentarios(alumno, asignatura);
    }

    function toggleComentarios(alumno, asignatura) {
        var comentariosList = document.getElementById("comentarios-" + alumno + "-" + asignatura);
        var comentariosToggle = document.getElementById("comentarios-toggle-" + alumno + "-" + asignatura);

        if (comentariosList.style.display === "none") {
            comentariosList.style.display = "block";
            comentariosToggle.textContent = "Comentarios ▲";
        } else {
            comentariosList.style.display = "none";
            comentariosToggle.textContent = "Comentarios ▼";
        }
    }

    function mostrarComentarios(alumno, asignatura) {
        var comentariosList = document.getElementById("comentarios-" + alumno + "-" + asignatura);
        var comentariosToggle = document.getElementById("comentarios-toggle-" + alumno + "-" + asignatura);

        if (comentariosList.style.display === "none") {
            comentariosList.style.display = "block";
            comentariosToggle.textContent = "Comentarios ▲";
        }
    }
</script>