<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Añadir Comentarios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <img src="/static/images/logo.png" alt="Logo de UCOVAEX">
                <h1 style="margin: 0;">UCOVAEX</h1>
                <div style="flex-grow: 1;"></div>
                <form action="{{ url_for('logout') }}" method="post">
                    <button type="submit" class="button" style="font-size: 14px;">Cerrar sesión</button>
                </form>
            </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Añadir Comentarios</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <center><th>Nombre</th></center>
                                <center><th>Asignatura UCO</th></center>
                                <center><th>Asignatura Extranjero</th></center>
                                <center><th>Fecha</th></center>
                                <center><th>Estado</th></center>
                                <center><th>Comentarios</th></center>
                                <center><th>Acciones</th></center>
                            </tr>
                        </thead>
                        <tbody>
                            {% for solicitud in solicitudes %}
                                <tr>
                                    <center><td>{{ solicitud['apellidos_y_nombre_alumno'] }}</td></center>
                                    <center><td>{{ get_nombre_asignatura_uco(solicitud['codigo_asignatura_uco']) }}</td></center>
                                    <center><td>{{ get_nombre_asignatura_exterior(solicitud['codigo_asignatura_extranjero']) }}</td></center>
                                    <center><td>{{ solicitud['fecha_solicitud'] }}</td></center>
                                    <center><td>{{ solicitud['estado'] }}</td></center>
                                    <td>
                                        <form action="" method="post">
                                            <input type="hidden" name="_id" value="{{ solicitud[0] }}">
                                            <textarea name="comentarios" id="comentarios" cols="30" rows="1" class="form-control">{{ solicitud['comentarios'] }}</textarea>
                                    </td>
                                    <td>
                                        <input type="submit" value="Guardar" class="btn btn-primary">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script>
        function logout() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            }).then(function(response) {
                window.location.href = "{{ url_for('index') }}";
            });
        }
    </script>
</html>
