<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UCO Validación de Asignaturas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <img src="/static/images/logo.png" alt="Logo de UCOVAEX">
      <h1 style="margin: 0;">UCOVAEX</h1>
      <div style="flex-grow: 1;"></div>
      <a href="{{ url_for('login') }}" class="button" style="font-size: 14px;">Iniciar sesión</a>
      <a href="{{ url_for('register') }}" class="button" style="font-size: 14px;">Registrarse</a>
    </header>
    <main>
      <section class="inicio">
        <h1>Bienvenido a UCO Validación de Asignaturas</h1>
        <p>¿Estás planeando estudiar en el extranjero y deseas asegurarte de que tus créditos serán reconocidos por tu institución académica? Con UCO Validación de Asignaturas, podrás validar las asignaturas que planeas cursar en el extranjero y garantizar que serán reconocidas por tu universidad, eliminando así la preocupación de si tus estudios en el extranjero afectarán tu progreso académico. </p>
        <img src="/static/images/portada.png">
        </section>
        <section class="features">
        <div class="container">
        <div class="feature-item">
          <h2 class="section-title">¿Qué puedes hacer con UCO Validación de Asignaturas?</h2>
          <video autoplay loop autoplay muted id="vid">>
            <source src="/static/videos/uco1.mp4" type="video/mp4" id="vid">
            Tu navegador no soporta el formato de video.
          </video>          
        <h3 class="feature-title">Validar tus asignaturas</h3>
        <p class="feature-description">Con UCO Validación de Asignaturas podrás validar las asignaturas que has cursado en el extranjero para usarlas en tu expediente académico.</p>
        </div>
        <div class="feature-item">
        <img src="https://via.placeholder.com/200x200" alt="Feature Icon">
        <h3 class="feature-title">Solicitar créditos ECTS</h3>
        <p class="feature-description">Solicita créditos ECTS por las asignaturas que hayas validado para que se incluyan en tu expediente académico.</p>
        </div>
        <div class="feature-item">
        <img src="https://via.placeholder.com/200x200" alt="Feature Icon">
        <h3 class="feature-title">Acceder a tu expediente académico</h3>
        <p class="feature-description">Una vez hayas validado tus asignaturas, podrás acceder a tu expediente académico en línea para ver las asignaturas que has cursado y los créditos obtenidos.</p>
        </div>
        </div>
        </section>
        <section class="call-to-action">
        <div class="container">
        <h2 class="section-title">¿Quieres validar tus asignaturas?</h2>
        <p class="section-description">Regístrate en UCO Validación de Asignaturas para empezar a validar tus asignaturas y obtener créditos ECTS.</p>
        <center><a href="{{ url_for('register') }}" class="button cta-button">Registrarse</a></center>
        </div>
        </section>
        <footer>
        <div class="container">
        <p>© 2023 UCO Validación de Asignaturas</p>
        </div>
        </footer>
        </main>
        
          </body>
        </html>