<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicia sesión</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <style>
    .btn-ancho {
        width: 200px;
    }</style>
</head>

<body>
    <div class="header">
        <div class="inner-header">
            <h1>UCOVAEX</h1>
        </div>

        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
    </div>

    <div class="content flex">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <form action="{{ url_for('login') }}" method="post">
                <div class="user-box">
                    <input type="text" name="username" required="">
                    <label>Nombre de usuario</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" required autocomplete="current-password">
                    <label>Contraseña</label>
                </div>
                <center><button type="submit" class="custom-btn btn-1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Login
                </button></center>
            </form>
            <a href="{{ url_for('google.login') }}" class="custom-btn btn-1 btn-ancho">Google Login</a>
        </div>
    </div>
    

</body>


<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId());
        console.log('Nombre: ' + profile.getName());
        console.log('Imagen de perfil: ' + profile.getImageUrl());
    }
</script>

</html>
